---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
---
<MainLayout title="Titel">

		<article id="afsnit_1">
			<section class="pl-10 pt-12 grid px-10 md:grid-cols-5 md:pt-16 md:px-16 md:pb-20 md:mb-6">
				<img class="object-cover md:col-span-3 md:h-96 md:w-full md:object-cover md:mt-8" src="/images/kobenhavnerbilleder_sten_simons.webp" alt="om bogen">
				<div class=" py-5 md:col-span-2 grid content-cente md:pl-12">
					 <h1 class=" text-xl font-bold pb-6 py-8 text-white from-stone-500 font-goblin md:text-4xl">Københavnerbilleder - en guide til hipster foto
						af Sten Simons
						</h1>
						<p class=" text-white font-martel md:pt-6">Københavnerbilleder er de danske streetfotografers bibel: <br> Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!	 </p>
						<div class=" pt-8 md:pt-8">
					<Button>Download et prøvekapitel her!</Button>
				</div>
				</div>
			</section>
	</article>

	<!-- ------------------- afsnit 2 skal måske lave list type / en liste form -->
	
	<div class="">
		<section class="pl-10 py-12 pt-10 md:py-2 text-white md:text-center md:grid grid-cols-2 md:px-96 animate__animated animate__fadeIn animate__slow  md:mb-5">
			<article class="">
				<div class="pb-4">
					<p class="font-bold font-goblin text-lg">Titel:</p>
					<p>Københavnerbilleder - en guide til hipster foto</p>
				</div>
				<div class="pb-4">
					<p class="font-bold md:pb-1 font-goblin text-lg">Forfatter: <p class="font-martel">Sten Simons</p></p>
				</div>
				<div class="pb-4">
					<p class="font-bold font-goblin md:pb-1 text-lg">Antal sider: <p class="font-martel">344</p></p>
				</div>
			</article>
			<article>
				<div class="pb-4">
					<p class="font-bold font-goblin md:pb-1 text-lg">Forlag: <p class="font-martel">Mellem Linjerne </p></p>
				</div>
				<div class="pb-4">
					<p class="font-bold font-goblin md:pb-1 text-lg">ISBN: <p class="font-martel">87-6-987654-32-1</p> </p>
				</div>
				<div class="pb-4">
					<p class="font-bold font-goblin  md:pb-1 text-lg">Pris: <p class="font-martel"> 399.</p> </p>
				</div>
			</article>
			<!-- opdeling for hver 3. opdel 3 i to articles  -->
		</section>
	</div>



<!-- ------------------- afsnit 3 -->
	<section class=" px-10 gap-3 md:grid grid-cols-3 md:gap-4 md:px-28 md:pb-10 md:pt-10 md: mb-12">
		<img class="h-full w-full object-cover py-4" src="/images/kobenhavnerbilleder_sten_simons.webp" alt="billede af bog">
		<img class="h-full w-full object-cover py-4" src="/images/kobenhavnerbilleder_aaben_venstre.webp" alt="billede af bog">
		<img class="h-full w-full object-cover py-4" src="/images/kobenhavnerbilleder_oppefra.webp" alt="billede af bog">
	</section>
	<div class="min-h-screen flex justify-center items-center bg-pimg1 bg-fixed bg-cover bg-no-repeat bg-center h-auto">
	</div>


<!-- ------------------- afsnit 4 -->
	
	<article id="afsnit_2">
		<section class="px-10 pt-12 md:px-36 text-white md:pt-20">
			<h1 class="pt-4 pb-4 text-2xl font-bold md:pb-8 font-goblin md:text-3xl">Kapitlerne</h1>
			<div class="md:grid grid-cols-2 md: gap-8 ">
				<div class="py-8 pb-6 transition transform hover:-translate-y-1 rounded-xl">
					<h2 class="font-goblin font-semibold hover:text-orange-600">Kapitel 1 - Intro til street foto</h2>
					<p class="font-martel">Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos.
					</p>
				</div>
				<div class="pb-6 py-6 transition transform hover:-translate-y-1">
					<h2 class="font-goblin font-semibold hover:text-orange-600">Kapitel 2 - Om at skyde street</h2>
					<p class="font-martel">Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet.</p>
				</div>
				<div class="pb-6 py-6 transition transform hover:-translate-y-1">
					<h2 class="font-goblin font-semibold hover:text-orange-600">Kapitel 3 - Om at finde det rette motiv</h2>
					<p class="font-martel">Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.</p>
				</div>
				<div class="pb-6 py-6 transition transform hover:-translate-y-1">
					<h2 class="font-goblin font-semibold hover:text-orange-600">Kapitel 4 - Digital street foto</h2>
					<p class="font-martel">De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto. </p>
				</div>
				<div class="pb-6 py-6 transition transform hover:-translate-y-1">
					<h2 class="font-goblin font-semibold hover:text-orange-600">Kapitel 5 - Analog street foto</h2>
					<p class="font-martel">Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto. </p>
				</div>
				<div class="pb-6 py-6 transition transform hover:-translate-y-1">
					<h2 class="font-goblin font-semibold hover:text-orange-600">Kapitel 6 - Om at skyde sort/hvid</h2>
					<p class="font-martel">Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering. </p>
				</div>
				<div class="pb-6 py-6 transition transform hover:-translate-y-1">
					<h2 class="font-goblin font-semibold hover:text-orange-600">Kapitel 7 - Kreative teknikker </h2>
					<p class="font-martel">Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!</p>
				</div>
				<div class="pb-2 py-6 transition transform hover:-translate-y-1">
					<h2 class="font-goblin font-semibold hover:text-orange-600">Kapitel 8 - Kom helt tæt på!</h2>
					<p class="font-martel">Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…</p>
				</div>
			</div>
		</section>
	</article>
	
<!-- ------------------- afsnit 5 skal måske være i flex box -->

	<section class="px-10 pb-10 pt-10 md:px-36 md:pt-28 md:pb-20">
		<h1 class="text-2xl font-bold pb-12 pt-4 text-white font-goblin md:text-3xl">Pressen siger</h1>
		<div class="md:grid grid-cols-3 gap-4 ">
				<div class="py-10 mb-8 rounded-lg md:px-10 md:py-10 bg-stone-800">
					<div class="fadeStjerner1">
					<div class="py-4 px-6 md:py-4 animate__animated animate__fadeIn animate__slow text-orange-600">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
							<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						  </svg>
					</div>
				</div>
					<p  class="text-orange-600 px-6 font-martel">Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen.</p> <br>
				    <p class="text-orange-600 px-6 font-martel">- Hanne Hovgaard, Berlingeren </p>
			</div>
				
			<div class="py-10 mb-8 rounded-lg md:px-10 md:py-10 bg-stone-800">
				<div class="fadeStjerner2">
					<div class="px-6 md:py-4 animate__animated animate__fadeIn animate__slow text-orange-600">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
							<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						  </svg>
					</div>
				</div>
				<p class="text-orange-600 px-6 font-martel">Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog?</p> <br>
				<p class="text-orange-600 px-6 font-martel">- Kim Kloggaard, Fotojournalen.dk</p>
			</div>
			<div class=" py-10 mb-8 rounded-lg md:px-10 md:py-10 bg-stone-800">
				<div class="fadeStjerner3">
					<div class="py-4 px-6 md:py-4 animate__animated animate__fadeIn animate__slow text-orange-600">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg>
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						  </svg> 
					</div>
				</div>
				<p class="text-orange-600 px-6 font-martel">Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde.</p> <br>
				<p class="text-orange-600 px-6 font-martel">- Volmer Hansen, Lukkertiden.dk </p>
			</div>
		</div>
	</section>
	<script>
		import { inView } from "motion";
		
		const fadeStjerner1 = document.querySelector(".fadeStjerner1");
		
		inView(fadeStjerner1, () => {
		
			fadeStjerner1.classList.add("animate__animated", "animate__fadeIn", "animate__slow");
		
		}); 
		
		</script>
	<script>
		
		import { inView } from "motion";
		
		const fadeStjerner2 = document.querySelector(".fadeStjerner2");
		
		inView(fadeStjerner2, () => {
		
			fadeStjerner2.classList.add("animate__animated", "animate__fadeIn", "animate__slow");
		
		}); 
		
		</script>

	<script>
		
		import { inView } from "motion";
		
		const fadeStjerner3 = document.querySelector(".fadeStjerner3");
		
		inView(fadeStjerner3, () => {
		
			fadeStjerner3.classList.add("animate__animated", "animate__fadeIn", "animate__slow");
		
		}); 
		
		</script>

	<div class="min-h-screen flex justify-center items-center bg-pimg2 bg-fixed bg-cover bg-no-repeat bg-center h-auto">

	</div>
<!-- ------------------- afsnit 6 -->

	<section class="px-4 md:px-32 pt-14 pb-16 md:pt-6">
		<h1 class="font-bold pl-6 pt-2 pb-6 text-2xl text-white md:py-16 font-goblin md:text-3xl"> Galleri</h1>
		<div class="grid grid-cols-2 md:grid-cols-4 h-auto w-auto p-4 relative">
				<img class="p-2 h-full w-full object-cover" src="/images/img1.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img2.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img3.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img4.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img5.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img6.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img7.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img8.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img9.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img10.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img11.webp" alt="">
				<img class="p-2 h-full w-full object-cover" src="/images/img12.webp" alt="">
		</div>
	</section>

	<!-- ------------------- afsnit 7 -->
	<article id="afsnit_3">
		<section class="px-10 pb-4 md:px-72 md:pt-12 md:pb-44 md:bg-neutral-800">
			<h1 class="text-2xl pt-4 pb-10 font-bold text-white md:pb-16 font-goblin md:text-3xl">Forfatteren</h1>
			<div class="h-72 w-auto relative md:grid grid-cols-2 md:gap-4">
				<img class="h-full w-full object-cover md:object-cover md:h-96 md:w-96" src="/images/sten_simons.webp" alt="">
				<p class="pt-6 md:pt-1 text-white font-martel">Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. <br> Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
					<br> Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.</p>
			</div>
		</section>
	</article>

<!-- ------------------- afsnit 8 -->
	<article id="afsnit_4">
		<section class="px-10 pt-80 md:px-96 md:relative md:pt-16">
			<h1 class="text-2xl font-bold pb-8 py-12 text-white md:ml-20 font-goblin md:text-3xl">Køb Københavnerbilleder her!</h1>
			<form class=" bg-black md:px-24 md:py-4">
				<div class="py-4 font-martel">
					<label class="text-white" for="antal">Antal</label>
					<input type="number" class="rounded-m bg-gray-100 border-transparent w-full focus:bg-white"id="antal" placeholder="1">
				</div>
				<div class="py-4 font-martel">
					<span class="pr-2 text-white"> Levering:</span>
					<input type="radio" id="postnord" name="levering">
					<label class="pr-2 text-white" for="postnord" aria-checked="true">PostNord</label>
					<input type="radio" id="afhent" name="levering">
					<label class="text-white" for="afhent" aria-checked="true">Afhent</label>
				</div>
		
				<div class="py-4 text-white font-martel">
					<label for="navn">Navn:</label>
					<input type="text" class="rounded-md bg-gray-100 border-transparent w-full focus:bg-white" id="navn" placeholder="Anders Andersen">
				</div>
		
				<div class="py-4 text-white font-martel">
					<label for="adresse">Adresse:</label>
					<input type="text" class="rounded-md bg-gray-100 border-transparent w-full focus:bg-white"id="adresse" placeholder="Paradisvej 98">
				</div>
				<div class="py-4 text-white font-martel">
					<label for="email">Email:</label>
					<input type="email" class="rounded-md bg-gray-100 border-transparent w-full focus:bg-white"id="email" placeholder="Anders.andersen@email.com">
				</div>
	
	
				<div class="gap-1 py-4 text-white font-martel"> 
						<label class="pt-2" for="postnr_by">Postnummer & By:</label>
					<div class="grid grid-cols-2 gap-2">
						<input type="text" class="rounded-md bg-gray-100 border-transparent focus:bg-white"id="postnummer" placeholder="2800"> 
						<input type="text" class="rounded-md bg-gray-100 border-transparent  focus:bg-white"id="by" placeholder="Lyngby">
					</div>
				</div>
	
	
				<div class="py-4 text-white font-martel">
					<label for="telefon">Telefonnummer:</label>
					<input type="tel" class="rounded-md bg-gray-100 border-transparent w-full focus:bg-white"id="telefonnr" placeholder="11-22-33-44">
				</div>
				<div class="py-4 text-white font-martel">
					<label for="checkboks"></label>
					<input type="checkbox" id="checkboks"> Ja tak til nyhedsbreve og tilmeldning</div>
					<div class="pt-6 pb-16 md:pb-10 md:pt-6">
						<Button>Køb Københavnerbilleder nu </Button>
					</div>
			</form>
		</section>

	</article>
	
</MainLayout>
