---
---
<div>
    <button class="border-2 text-orange-700 border-orange-600 py-1 px-8 rounded-lg transition transform hover:-translate-y-1 hover:text-white hover:bg-orange-600"><slot /></button>
</div>

<!-- animate__animated animate__backInLeft animate__slow -->