---
---
<div class="pb-10 md:pb-3 md:pt-6 md:px-8 bg-neutral-800" >
    <div x-data="{ showmenu: false }" class="p-4 fixed lg:static w-full text-white bg-stone-800 z-50  " >
        <div id="navbar" class="flex flex-row justify-between">
        <div id="logo" class="">
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 ml-4" viewBox="0 0 20 20" fill="currentColor">
  <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" />
</svg></a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
        <ul class="flex flex-row gap-4">
            <a class = "nav-link hover:text-orange-600 md:hover:underline font-goblin" href ="#afsnit_1">Københavnerbilleder</a>
            <a class = "nav-link  hover:text-orange-600 md:hover:underline font-goblin" href="#afsnit_2">Bogens indhold</a>
            <a class = "nav-link  hover:text-orange-600 md:hover:underline font-goblin" href="#afsnit_3">Forfatteren</a>
            <a class = "nav-link hover:text-orange-600 md:hover:underline font-goblin" href="#afsnit_4">Køb nu</a>
        </ul>
        </nav>
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
          </svg>
          </button>
        </div>
        <nav id="mobilmenu" class="flex flex-col content-center pt-4 z-50"  
        x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul class="z-50">
        <li class="text-left py-2 border-y-2 font-goblin hover:text-orange-600"><a href="#afsnit_1" >Københavnerbilleder</a></li>
        <li class="text-left py-2 border-b-2 font-goblin hover:text-orange-600"><a href="#afsnit_2" >Bogens indhold</a></li>
        <li class="text-left py-2 border-b-2 font-goblin hover:text-orange-600"><a href="#afsnit_3" >Forfatteren</a></li>
        <li class="text-left py-2 border-b-2 font-goblin hover:text-orange-600"><a href="#afsnit_4" >Køb nu</a></li>
        </ul>
        </nav>
        </div>
</div>
