---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Københavnerbilleder</title>
	</head>
	<body class="bg-white">

		<header>
			<Header></Header>
		</header>
		
		<main>
			<slot />
		</main>

		<footer>
			<Footer></Footer>
		</footer>
			
	</body>
</html>
<!-- <script>
	import { inView } from "motion";

	const knapslide = document.querySelector(".knapslide");
	inView(knapslide, () => {
		knapslide.classList.add("animate__animated", "animate__backInLeft animate__slow", "animate__delay-1s");
	});	
</script> -->